/* Estilos generales del cuerpo de la página */
body {
    font-family: Piedra;
    font-style: italic;
    margin: 20px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('img/cascada.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.titulo {
    text-align: right;
    font-size: 30px;
    margin-top: -40px;
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 2px solid black;
}

th, td {
    padding: 2px;
    text-align: center;
    font-family: Lobster;
    font-weight: bolder;
}

th.horas, td.horas {
    width: 80px;
}

/* Estilos del formulario */
form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="number"], input[type="date"] {
    font-family: Lobster;
    font-size: 20px;
    border-radius: 15px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}

button {
    margin-left: 10px;
    font-family: Piedra;
    font-style: italic;
    border-radius: 15px;
    color: white;
    background-color: blue;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}

/* Estilos del botón para agregar entradas */
button[type="submit"] {
    margin-left: 230px;
    font-family: Piedra;
    font-style: italic;
    border-radius: 15px;
    color: white;
    background-color: blue;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
    padding: 8px 20px; /* Ajusta el tamaño del padding según tus preferencias */
    font-size: 15px; /* Ajusta el tamaño del texto del botón */
}



button.delete {
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 5px 2px;
    cursor: pointer;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}

button.edit {
    background-color: green;
    color: white;
    border-radius: 15px;
    padding: 5px 2px;
    cursor: pointer;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
    font-family: Piedra;
    font-style: italic;
}

#totalHours {
    font-size: 22px;
    text-decoration: underline;
}

#result {
    font-size: 22px;
    text-decoration: underline;
}

#multiplierContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#multiplier {
    font-family: Lobster;
    font-size: 20px;
    border-radius: 15px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
    width: 70px;
    margin-right: 10px;
}

#result {
    font-size: 22px;
    text-decoration: underline;
}

#editMultiplier {
    font-family: Piedra;
    font-style: italic;
    border-radius: 15px;
    color: white;
    background-color: green;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    padding: 5px 10px; /* Ajusta el tamaño del padding */
    cursor: pointer;
}

/* Agregar estos estilos para el contenedor del multiplicador y el botón */
.multiplier-container {
    display: flex;
    align-items: center;
}

.multiplier-container label {
    margin-right: 10px;
}

.multiplier-container input[type="number"] {
    margin-right: 10px;
}

.multiplier-container button {
    margin-left: 10px;
}

.ico {
    border-radius: 50%;
    margin: 0;
    animation-name: logo;
    animation-duration: 3s;
    transition: all 0.5s ease-in-out;
    background-color: black;
    border: 2px solid red;
    box-shadow: 0 0 0 3px black;
}

@keyframes logo {
    from {
        opacity: 0;
        transform: scale(0.5) rotate(0deg);
    }
    to {
        opacity: 1;
        transform: scale(1) rotate(1440deg);
    }
}